* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  place-items: center;
}
.link{
  display:block;
  justify-content: space-between;
  align-items: center;
}
.link button{
  padding:1.5rem;
  font-size: 12px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: brown;
}
a{
  text-decoration: none;
  color: white;
}
main {
  display: grid;
  grid-template-areas:
    "a a a b b"
    "a a a b b"
    "c c d d d"
    "c c e e e";
  gap: 10px;
  width: 50%;
  margin: auto;
  padding: 10px;
}
.boxA {
  background-color: orange;
  grid-area: a;
}
.boxB {
  background-color: yellow;
  grid-area: b;
}
.boxC {
  background-color: green;
  grid-area: c;
}
.boxD {
  background-color: blue;
  grid-area: d;
}
.boxE {
  background-color: turquoise;
  grid-area: e;
}
